.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  .projectTitle {
    text-align: center;
    margin-top: 20px;
    color: white;
    border-radius: 20px;
    padding: 20px;
    background-color: rgba(43, 18, 18, 0.8);
  }
  .markdown {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
