.previewerWrap {
  width: 50rem;
  max-width: 800px;
  .preview {
    padding: 10px;
    padding-left: 1.5rem;
    background: #927e7e;
    border: 1px solid #000000;
    pre {
      display: block;
      overflow: auto;
      background: white;
      padding: 5px;
      line-height: 1.2;
    }
    code {
      background: white;
      font-size: 0.875rem;
      font-weight: bold;
      .token.punctuation {
        color: #999;
      }
      .token.function {
        color: #dd4a68;
      }
      .token.keyword {
        color: #07a;
      }
      .token.operator,
      .token.url {
        color: #9a6e3a;
        background: hsla(0, 0%, 100%, 0.5);
      }
      .token.selector,
      .token.string {
        color: #690;
      }
    }
    img {
      display: block;
      max-width: 90%;
      margin: 2rem auto;
    }
    h1 {
      border-bottom: 2px solid #224b4b;
    }
    h2 {
      border-bottom: 1px solid #224b4b;
    }
    blockquote {
      border-left: 3px solid #224b4b;
      color: #224b4b;
      padding-left: 5px;
      margin-left: 25px;
    }
    table {
      border-collapse: collapse;
    }
  }
}
.toolbar {
  padding: 0.3rem;
  background: #9c7171;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px 10px 0px 0px;
  color: #221d1d;
  padding-left: 20px;
}
